
.icon-googleplus-rect:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-ticket:before { content: '\e802'; } /* '' */
.icon-suitcase:before { content: '\e803'; } /* '' */
.icon-suitcase-1:before { content: '\e804'; } /* '' */
.icon-fast-fw-outline:before { content: '\e805'; } /* '' */
.icon-spin1:before { content: '\e806'; } /* '' */
.icon-menu-outline:before { content: '\e807'; } /* '' */
.icon-share-squared:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-wrench-outline:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-fast-fw:before { content: '\e80e'; } /* '' */
.icon-ok-circled2:before { content: '\e80f'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e810'; } /* '' */
.icon-back-in-time:before { content: '\e811'; } /* '' */
.icon-clock:before { content: '\e812'; } /* '' */
.icon-arrows-cw:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-help:before { content: '\e817'; } /* '' */
.icon-wristwatch:before { content: '\e818'; } /* '' */
.icon-user-md:before { content: '\e819'; } /* '' */
.icon-star-circled:before { content: '\e81a'; } /* '' */
.icon-heart:before { content: '\e81b'; } /* '' */
.icon-money:before { content: '\e81c'; } /* '' */
.icon-warning:before { content: '\e81d'; } /* '' */
.icon-beaker:before { content: '\e81e'; } /* '' */
.icon-trash:before { content: '\e81f'; } /* '' */
.icon-twitter:before { content: '\e820'; } /* '' */
.icon-facebook-rect:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-mail-1:before { content: '\e823'; } /* '' */
.icon-resize-full-circle:before { content: '\e824'; } /* '' */
.icon-bug:before { content: '\e825'; } /* '' */
.icon-share:before { content: '\e826'; } /* '' */
.icon-stopwatch:before { content: '\e827'; } /* '' */
.icon-doc-add:before { content: '\e828'; } /* '' */
.icon-address:before { content: '\e829'; } /* '' */
.icon-taxi:before { content: '\e82a'; } /* '' */
.icon-bus:before { content: '\e82b'; } /* '' */
.icon-plane-outline:before { content: '\e82c'; } /* '' */
.icon-coffee:before { content: '\e82d'; } /* '' */
.icon-beer:before { content: '\e82e'; } /* '' */
.icon-flight:before { content: '\e82f'; } /* '' */
.icon-wheelchair:before { content: '\e830'; } /* '' */