
.icon-googleplus-rect:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-ticket:before { content: '\e802'; } /* '' */
.icon-suitcase:before { content: '\e803'; } /* '' */
.icon-suitcase-1:before { content: '\e804'; } /* '' */
.icon-spin1:before { content: '\e806'; } /* '' */
.icon-menu-outline:before { content: '\e807'; } /* '' */
.icon-share-squared:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-wrench-outline:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-ok-circled2:before { content: '\e80f'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e810'; } /* '' */
.icon-arrows-cw:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-help:before { content: '\e817'; } /* '' */
.icon-user-md:before { content: '\e819'; } /* '' */
.icon-star-circled:before { content: '\e81a'; } /* '' */
.icon-heart:before { content: '\e81b'; } /* '' */
.icon-money:before { content: '\e81c'; } /* '' */
.icon-warning:before { content: '\e81d'; } /* '' */
.icon-beaker:before { content: '\e81e'; } /* '' */
.icon-trash:before { content: '\e81f'; } /* '' */
.icon-twitter:before { content: '\e820'; } /* '' */
.icon-facebook-rect:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-mail-1:before { content: '\e823'; } /* '' */
.icon-resize-full-circle:before { content: '\e824'; } /* '' */
.icon-bug:before { content: '\e825'; } /* '' */
.icon-share:before { content: '\e826'; } /* '' */